<?xml version="1.0"?>
<launch>
	<param name="model" type="string" value="$(find plate_detection)/model/" />
	<param name="font" type="string" value="$(find plate_detection)/font/platech.ttf" />
	<node pkg="plate_detection" type="plate_detection.py" name="plate_detection" output="screen" respawn="true">
		<param name="video" type="string" value="rtsp://admin:rsxx1111@192.168.201.73:554/" />
	</node>

</launch>


